{{page-title "ConcurrencyTest"}}

<button
  type="button"
  {{on "click" (perform this.printEncapsulatedTaskValue)}}
>
Click for encapsulated task
</button>

<button
  type="button"
  {{on "click" (perform this.printNormalTaskValue)}}
>
Click for normal task
</button>

{{outlet}}